<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>AppContextListener.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.timetable.controllers.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyServlet</servlet-name>
        <servlet-class>com.timetable.controllers.faculty.FacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableServlet</servlet-name>
        <servlet-class>com.timetable.controllers.admin.TimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimetableServlet</servlet-name>
        <servlet-class>com.timetable.controllers.admin.UpdateTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimetableServlet</servlet-name>
        <servlet-class>com.timetable.controllers.admin.DeleteTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSpecialActionsServlet</servlet-name>
        <servlet-class>com.timetable.controllers.HandleSpecialActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelClassServlet</servlet-name>
        <servlet-class>com.timetable.controllers.faculty.CancelClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimeTableServlet</servlet-name>
        <servlet-class>com.timetable.controllers.faculty.UpdateTimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <servlet-class>com.timetable.controllers.admin.student.MarkAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.timetable.controllers.student.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyServlet</servlet-name>
        <url-pattern>/FacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableServlet</servlet-name>
        <url-pattern>/TimeTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimetableServlet</servlet-name>
        <url-pattern>/UpdateTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimetableServlet</servlet-name>
        <url-pattern>/DeleteTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSpecialActionsServlet</servlet-name>
        <url-pattern>/HandleSpecialActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelClassServlet</servlet-name>
        <url-pattern>/CancelClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimeTableServlet</servlet-name>
        <url-pattern>/UpdateTimeTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <url-pattern>/MarkAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
